body {
    font: normal 15pt arial;
    background: rgba(0, 0, 0, 0.842);
    margin: 0;
    padding-top: 60px;
    user-select: none;
    text-align: center;
}
h1 {
    background: rgb(107, 107, 107);
    width: 340px;
    height: 50px;
    line-height: 50px;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
    text-align: center;
}
div {
    background: rgb(107, 107, 107);
    font-size: 40pt;
    line-height: 99px;
    color: rgb(255, 255, 255);
    text-align: center;
}
div#tabuleiro {
    display: grid;
    grid-template-columns: 99px 99px 99px;
    grid-template-rows: 99px 99px 99px;
    justify-content: center;
    align-content: center;
    width: 340px;
    height: 340px;
    margin: 0 auto;
    font-size: 0;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}
div#casa0 {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
div#casa1 {
    border-bottom: 1px solid white;
}
div#casa2 {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
div#casa3 {
    border-right: 1px solid white;
}
div#casa5 {
    border-left: 1px solid white;
}
div#casa6 {
    border-top: 1px solid white;
    border-right: 1px solid white;
}
div#casa7 {
    border-top: 1px solid white;
}
div#casa8 {
    border-top: 1px solid white;
    border-left: 1px solid white;
}

button {
    background: rgb(107, 107, 107);
    width: 110px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    font: bold 10pt arial;
    color: white;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

audio {
    display: none;
}